:root {
  /* font */
  /* background image */
  --skyline: background-image: url(./assets/images/skyline.jpg);
  --exo: "exo 2", sans-serif;
  --barlow: "barlow";
  --siL: "shadows into light";
  /* CSS HSL */
  --smoky-black: hsla(340, 13%, 5%, 1);
  --charcoal: hsla(225, 10%, 30%, .5);
  --magnolia: hsla(280, 23%, 95%, .7);
  --green-ryb: hsla(85, 72%, 40%, 1);
  --sap-green: hsla(100, 59%, 31%, 1);
  --mint-cream: hsla(107, 36%, 95%, 1);
--gunmetal: hsla(224, 14%, 22%, 1);
--powder-blue: hsla(177, 42%, 78%, 1);
--deep-saffron: hsla(31, 86%, 59%, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  /* glass gradient */
}

/* navbar */
.nav-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.navbar{
    /* gradient bgc */
    width: 90vw;
    background-image: radial-gradient( hsla(280, 23%, 95%, .1) 0%, hsla(224, 14%, 22%, .2) 100%);
    color: var(--charcoal);
    font-family: var(--exo);
    font-size: 1.2rem;
    /* line-height: 1.6; */
    padding: .7rem;
    padding-bottom: .5rem;
    position: fixed;
    top: 0;
    z-index: 1;
    border-radius: .7vw;
    margin: 0 2px;
    margin-top: 1%;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    transition: all ease-in-out .2;
}

.navbar li{
    display: inline-block;
    margin: 0 2rem;

}
.navbar li a {
    color: var(--charcoal);
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.navbar li a:hover{
    color: hsla(31, 86%, 59%, .9);
}

/* header */
.home{
    /* background image */
    height: 100vh;
    width: 100%;
    display: flex-column;
    text-align: center;
    margin-top: 20vh;
    background-image: var(--skyline);
}
/* make animation in home */
.heading {
  animation: fadeInUp 1s;
  animation-delay: .5s;
  font-family: var(--siL);
  color: var(--smoky-black);
  animation-fill-mode: forwards;
  
}

#my-name{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
header p {
    font-size: 1.2rem;
    font-family: var(--exo);
    color: var(--deep-saffron);
    margin: 3vh 0;
}

